@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e8ee;
}

.profile-cart{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow:  0 5px 10px rgba(0,0,0,0.3);
}

.profile-cart::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0 ;
    background-color: #162c67;

}

.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #162c67;
    padding: 3px;
    margin-bottom: 10px;
    
}

.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.profile-cart .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}


.text-data .name{
    font-size: 22px;
    font-weight: 500;
}

.text-data .job{
    padding-top: 5px;
    font-size: 15px;
    font-weight: 400;
}


.profile-cart .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;
}


.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #162c67;
    text-decoration: none;
}


.profile-cart .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.buttons .button{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 25px;
    margin: 0 10px;
    background-color: #162c67;
    padding: 8px 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons .button:hover{
    background-color: #0e4bf1;
}


.profile-cart .analytics{
    display: flex;
    align-items: center;
    margin-top: 25px;
}


.analytics .data{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;

}

.data i{
    font-size: 18px;
    margin-right: 6px;
}

.data:last-child{
    border-right: none;
}